%div{"data-role" => "header"}
  %h1 Families
%div{"data-role" => "content"}
  %ul{'data-role' => 'listview'}
    - @families.each do |family|
      %li
        %a{href: family_fish_index_path(family)}
          %p= family.name_jp
          %p= family.name_en
