%div{"data-role" => "header"}
  = link_to 'Back', '/', 'data-icon' => 'back', 'data-ajax' => 'false'
  %h1 Settings
%div{"data-role" => "content"}
  = form_tag({}, {'data-ajax' => 'false'}) do |f|
    %div{"data-role" => "fieldcontain"}
      %fieldset{"data-role" => "controlgroup"}
        %legend Choose a language:
        %input#lang_jp{:name => "lang", :type => "radio", :value => "jp", :checked => "checked"}/
        %label{:for => "lang_jp"} Japanese
        %input#lang_en{:name => "lang", :type => "radio", :value => "en"}/
        %label{:for => "lang_en"} English
    %button{"data-theme" => "b", :type => "submit"} Submit
          