%div{"data-role" => "header"}
  %h1 Fish Album Hoge
%div{"data-role" => "content"}
  / %div{"data-role" => "fieldcontain"}
  /   %label{:for => "search"} Search:
  /   %input#search{:name => "password", :type => "search", :value => ""}
  = link_to 'Families', families_path, 'data-role' => 'button'
  = link_to 'Fish', fish_index_path, 'data-role' => 'button'
  = link_to 'Photos', photos_path, 'data-role' => 'button'
  / = link_to 'Settings', settings_path, 'data-role' => 'button', 'data-ajax' => 'false'
          