%h1 編集（写真）

= render 'form'

%button= link_to '戻る', family_fish_photos_path(@family, @fish)
%button= link_to '表示', [@family, @fish, @photo]
%button= link_to '削除', [@family, @fish, @photo], :confirm => 'まじでまじすか？', :method => :delete
