%div{"data-role" => "header", 'data-position' => 'inline'}
  %h1= "#{@fish.name_jp}/#{@fish.name_en}"
%div{"data-role" => "content"}
  - @photos.each do |photo|
    .mobile_center= link_to image_tag(photo.file.mobile.url), [@family, @fish, photo]
