%p#notice= notice

%p
  %p File:
  = image_tag(@photo.file_url, width: '100%') if @photo.file?

- if admin?
  = link_to 'Edit', edit_family_fish_photo_path(@family, @fish, @photo)
  \|
= link_to 'Back', [@family, @fish], 'data-rel' => 'back'
