/* http://colorschemedesigner.com/#3r627--yiw0w0 */
$primary:     #0075A7; /* blue */
$secondary-a: #1C00B6; /* dark blue */
$secondary-b: #35DB00; /* green */
$complement:  #FF8700; /* orange */
$white:       #FFFFFF;
$black:       #000000;

$page-width:  800px;

body {
    background-color: $white;
    color: $black;
    font-family: "Verdana", "ヒラギノ角ゴ Pro W3", "ＭＳ ゴシック", "Osaka‐等幅";
    font-size: 13px;
    width: $page-width;
    margin: 0;

    button {
	margin: 0;
	background-color: $secondary-b;
	height: 26px;
	&:hover, &:active {
	    background-color: $complement;
	}
	a {
	    text-decoration: none;
	    font-weight: bold;
	    color: $white;
	}
    }

    
    header {
	div#notice {
	    color: green;
	}
	ul#navbar {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    li {
		float: left;
		a {
		    color: $white;
		    font-weight: bold;
		    font-size: 16px;
		    display: block;
		    width: $page-width / 5;
		    padding-top: 5px;
		    padding-bottom: 5px;
		    text-align: center;
		    text-decoration: none;
		    &:link, &:visited {
			background-color: $secondary-b;
		    }
		    &:hover, &:active {
			background-color: $complement;
		    }
		}

		a.highlight { /* DOES NOT WORK. WHY? */
		    background-color: $complement;
		}
	    }
	}

	h1 {
	    clear: both;
	    margin: 0;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    font-size: 18px;
	    line-height: 24px;
	    text-align: center;
	    color: $white;
	    background-color: $primary;
	}

	div.menu {
	    margin: 2px;
	    text-align: right;
	}
    }

    content {
	table {
	    width: 800px;
	    border-collapse: collapse;
	    th, td {
		border: 1px solid $primary;
		padding: 4px;
	    }
	    th {
		color: white;
		background-color: $primary;
	    }
	}
    }

    footer {
	text-align: right;
    }
}

.operation {
  width: 20%;
}

.index {
    width: 10%;
    text-align: center;
}

.photo {
    width: 10%;
    text-align: center;
}

