body {
  background-color: #fff;
  color: #000;
  font-family: "Verdana", "ヒラギノ角ゴ Pro W3", "ＭＳ ゴシック", "Osaka‐等幅";
  font-size: 13px;
  line-height: 18px; }

a {
  color: #000;
  &:visited {
    color: #000; }
  &:hover {
    color: #fff;
    background-color: #000; } }

table {
  border-collapse: collapse;
  border: 1px solid black;
  border:1px solid green; }

th, td {
  border: 1px solid black;
  padding: 4px; }

th {
  background-color:green;
  color:white; }