%div{'data-role' => 'navbar'}
  %ul
    %li= link_to 'Families', families_path,   'data-role' => 'button'
    %li= link_to 'Fish'    , fish_index_path, 'data-role' => 'button'
    %li= link_to 'Photos'  , photos_path,     'data-role' => 'button'
    %li= link_to 'Search'  , search_path,     'data-role' => 'button'
